:root{
    --banner_clr:#F5F8FC;
}
#banner{
    min-height: calc(62rem - 71px);
    background-color: var(--banner_clr);
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner img{
    height: 350px;
}
#banner h4{
    font-size: 2.4rem;
    text-transform: uppercase;
}
#banner span{
    font-size: 1.4rem;
    font-weight: 400;
}
#banner p{
    font-size: 1.2rem;
    padding-top: 2rem;
}
#banner .icons{
    padding: 10px 0;
}
#banner .banner_img{
    position: relative;
    z-index: 1;
}
#banner .banner_img::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    border: 5px solid #888888;
    left: -2rem;
    top: -3rem;
    z-index: -1;
    animation: box_animate 2s linear alternate infinite;
}
@keyframes box_animate {
    0%{
      transform: translateX(-10%);  
    }
    100%{
        transform: translateX(0%);  

    }
}


@media (max-width: 1200px) { 
    #banner{
        text-align: center;
        height: 100%;
    }
    #banner .container{
        padding: 2rem 0 1rem 0;
    }
    #banner .banner_details{
        padding: 3rem;
    }
    #banner .banner_img::before{
        display: none;
    }
 }

#banner .container{
    position: relative;
}
#banner .container .abdur_daily{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-50%);
}
#banner .container .abdur_daily h2{
    font-size:12rem ;
    text-transform: uppercase;
    z-index: -55;
    letter-spacing: 2rem;
    -webkit-text-fill-color: transparent;
    color: #000;
    -webkit-text-stroke-width: 1.5px;
    opacity: 0.1;
}
