.navbar{
    background-color: #F5F8FC;
    animation: revNavAnimate 0.5s linear;
    z-index: 10;
}
.navbar.active{
    animation: navAnimate 0.5s linear;
    position: fixed;
    width: 100% ;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 30px #88888850;
}
@keyframes revNavAnimate{
    0% {
        transform: translateY(100%);
    }   
    100%{
        transform: translateY(0%);

    }
}
@keyframes navAnimate{
    0% {
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);

    }
}
.navbar a{
    font-size: 1.4rem;
}
.navbar-nav svg{
    font-size: 1.4rem;
}
.navbar-toggler{
    border: none;
    outline: none;
    background: transparent;
    color: transparent;
}
.navbar-toggler svg{
    font-size: 2rem;
    color: #000;
}
.navbar-brand{
    font-size: 2rem !important;
}

